.padre {
  display: grid;
  background-color: violet;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 8fr 1fr;
}
.bg-nav-red {
  background-color: #B31A1D !important;
  color: white;
  
}
.navbar .nav-link {
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  text-shadow: 3px 3px 2px black;
}
.navbar .nav-link:hover {
  background-color: #165B33; 
  color: #E7B456;             
  border-radius: 4px;     
  text-shadow: 3px 3px 2px black;    
}
.navbar .nav-link.active {
  color: #fff !important; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  text-shadow: 3px 3px 2px black;
}
.menu {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #B31A1D; 
}

.contenido {
  background-color: #D1D6F0;
}

.footer {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #165B33;
  
}
.decoracion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.nombre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #E7B456;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 3px 3px 2px black;
}